* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Acquire";
    src: url("../assets/fonts/Aquire-BW0ox.otf") format('opentype');
}

html {
    font-size: 62.5%;
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    background-color: black;

    display: flex;
}

.sidebar-container {
    flex: 1 1 0;
    background: url("../assets/img/sidebar-background.jpg") center center/cover no-repeat;

    position: relative;
}

.logo-banner {
    position: absolute;
    top: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.75);
}

.logo-img {
    height: clamp(80px, 8vw, 105px);
    width: auto;
    opacity: .8;
}

.logo-text {
    font-size: clamp(28px, 3vw, 40px);
    color: #f8d1ff;
    text-shadow:
        0 0 7px hsl(300, 90%, 30%),
        0 0 10px hsl(300, 90%, 30%),
        0 0 15px hsl(300, 92%, 25%);
    padding-top: 10px;
    margin-left: -7px;
}

.logo-text>span {
    font-size: .4em;
    margin-left: 3px;
    font-family: "Acquire";
}

.form-container {
    flex: 2 3 0;
    overflow: auto;
    padding: 130px 70px;
}

.signup-text p {
    font-size: 2rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 25px;
}

.form-controls {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 100px;
    margin-top: 100px;
    max-width: 1200px;
}

.form-controls div {
    flex: 1 1 350px;
    height: 50px;
}

.form-controls label {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.form-controls input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #bfbfbf4b;
    font: bold 1.6rem "Poppins";
    color: rgba(255, 255, 255, 0.85);
    background-color: transparent;
    transition: ease-in-out .3s;
}

.form-controls input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form-controls input:focus {
    /* styles for focus state */
    padding-left: 10px;
    border: 1px solid #c54487;
    outline: none;
}

input:focus:not(:placeholder-shown):invalid {
    /* styles for focus + not empty + invalid state */
    border-color: red;
}

input:not(:focus):not(:placeholder-shown):valid {
    /* styles for out-of-focus + not empty + valid state */
    padding-left: 6px;
    background-color: #c544874f;
    border: 1px solid #c54487;
}

input:not(:focus):not(:placeholder-shown):invalid {
    /* styles for out-of-focus + not empty + invalid state */
    padding-left: 6px;
    background-color: rgba(255, 0, 0, .2);
    border: 1px solid red;
}

/* Invalid inputs' error messages */
input + span {
    color: rgba(255, 0, 0, 0.75);
    font: bold 1.2rem "Poppins";
    display: inline-block;
    margin-top: 7px;
}

input#name:not(:placeholder-shown):invalid + span::after,
input#surname:not(:placeholder-shown):invalid + span::after {
    content: "* must be letters only";
}

input#email:not(:placeholder-shown):invalid + span::after {
    content: "* Invalid email (format: example@domain.com)";
}

input#phone-number:not(:placeholder-shown):invalid + span::after {
    content: "* must be between 10 to 15 digits";
}

input#password:not(:placeholder-shown):invalid + span::after {
    content: "* must be more than 8 characters";
}

input#confirm-password:not(:placeholder-shown):invalid + span::after {
    content: "* Input doesn't match password";   
}
/* ************************************* */

.form-submission {
    margin-top: 80px;
    color: white;
}

.submit-button {
    width: 140px;
    height: 40px;
    font: bold 1.6rem "Poppins";
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #ba03ba;
    box-shadow: 0 8px 15px rgb(185 2 185 / 50%);
    transition: ease-in-out .3s;
}

.submit-button:hover {
    scale: 1.05;
}

.submit-button:active {
    scale: .95;
}

.login {
    margin: 40px 0 0 4px;
    font-size: 1.5rem;
    font-weight: bold;
}

.login a {
    color: #ff00f6;
    text-decoration: none;
    text-shadow: 0 0 7px hsl(300, 90%, 30%), 0 0 10px hsl(300, 90%, 30%), 0 0 15px hsl(300, 92%, 25%);
}

.login a:hover {
    text-shadow: none;
    text-decoration: underline;
}